{% extends 'master.html' %}

{% block heading %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
{#        <h1 class="h3 mb-0 text-gray-800">Registration</h1>#}
        <a href="{% url 'account.profile' %}" class="btn btn-danger btn-icon-split btn-sm">
            <span class="icon text-white-50">
                <i class="fas fa-arrow-circle-left"></i>
            </span>
            <span class="text">Cancel</span>
        </a>

        <button type="button" class="btn btn-primary btn-icon-split btn-sm" data-toggle="modal" data-target="#confirm-dialog">
            <span class="icon text-white-50">
                <i class="fas fa-save"></i>
            </span>
            <span class="text">Save</span>
        </button>
    </div>
{% endblock %}

{% block content %}
    <div class="row">
        <!-- Area Chart -->
        <div class="col-12">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div
                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                    <h6 class="m-0 font-weight-bold text-primary text-uppercase">Change Password</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <form action="{% url 'account.password.change' %}" id="profile-edit-form" method="post">
                        {% csrf_token %}
                        {% for non_field_error in form.non_field_errors %}
                            <div class="invalid-feedback d-block">
                                {{ non_field_error }}
                            </div>
                        {% endfor %}
                        {% for fields in form %}
                            <div class="form-group">
                                <label for="{{ fields.id_for_label }}" class="text-capitalize">{{ fields.label }}</label>
                                {{ fields }}
                                {% for error in fields.errors %}
                                    <div class="invalid-feedback d-block">
                                        {{ error }}
                                    </div>
                                {% endfor %}
                            </div>
                        {% endfor %}

                        <div class="modal fade" id="confirm-dialog" tabindex="-1" role="dialog">
                          <div class="modal-dialog" role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">CHANGE PASSWORD</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                Are you sure you want to change your password? Doing so will log you out.
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-danger">Save changes</button>
                              </div>
                            </div>
                          </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}